.eightPuzzle{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.eightPuzzle table{
	float: left;
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd #aaa #aaa #ddd;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: black;
	display: inline-block;
}

.eightPuzzle table tr{
	margin: 0px;
	padding: 0px;
	border: 0;
}

.eightPuzzle table td{
	margin: 0px;
	padding: 0px;
	background-color: #FDFDF3;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd #aaa #aaa #ddd;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-align: center;
	font-size: xx-large;
}

.eightPuzzle .goal{
	background-color: red;
}

.eightPuzzle .start{
	background-color: green;
}

.eightPuzzle .highlighted{
	background-color: yellow;
}

.eightPuzzle .unhighlighted{
}


/*
.eightPuzzleNode table{
	float: left;
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd #aaa #aaa #ddd;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: black;
}


	margin: 0px;
	padding: 0px;
	background-color: #FDFDF3;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd #aaa #aaa #ddd;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-align: center;
	font-size: xx-large;*/