body{
	padding: 20px 0 0 0;
	margin: 0 0 0 0;
	border: 0;
	font-family: Century Gothic, sans-serif;
}

.searchAlgorithm{
	float: left;
	width: 81%;
	margin: 0 2% 0 2%;
	padding: 0;
	border: 0;
	text-align: center;
}



.searchAlgorithm h1{
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	font-size: 3em;
}

.searchAlgorithm h2{
	float: left;
	width: 100%;
	margin: 0 0 0px 0;
	padding: 0;
	border: 0;
	font-size: 1.5em;
}

.searchAlgorithm h3{
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	font-size: 1.0em;
}

.searchAlgorithm .textBlock{
	float: left;
	width: 88%;
	margin: 10px 0 10px 0;
	padding: 0 10% 0 2%;
	border: 0;
	text-align: justify;
}

/* Tree */

.searchAlgorithm .treeVisualizationContainer{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.searchAlgorithm .treeVisualizationContainer .treeVisualization{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

.searchAlgorithm .treeVisualizationContainer .controls{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.searchAlgorithm .treeVisualizationContainer .legenda{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}


.searchAlgorithm .treeVisualizationContainer .legenda .defaultNode{
	width: 40px;
	background-color: #FFEBD7;
	border: 0px solid #FFEBD7;
}

.searchAlgorithm .treeVisualizationContainer .legenda .closedNode{
	width: 40px;
	background-color: #FF7F27;
	border: 0px solid #FF7F27;
}


.searchAlgorithm .treeVisualizationContainer .legenda .openNode{
	width: 40px;
	background-color: #FFEBD7;
	border: 2px solid #FF7F27;
}

.searchAlgorithm .treeVisualizationContainer .legenda .goalNode{
	width: 40px;
	background-color: lightgreen;
	border: 0px solid lightgreen;
}


.searchAlgorithm .treeVisualizationContainer .legenda .discardedNode{
	width: 40px;
	background-color: #FFEBD7;
	border: 0px solid #FFEBD7;
}

.searchAlgorithm .treeVisualizationContainer .legenda .maxNode{
	width: 40px;
	background-color: #FF7F27;
}

.searchAlgorithm .treeVisualizationContainer .legenda .minNode{
	width: 40px;
	background-color: #FFEBD7;
}
/* End of Tree */

/* Maze */
.searchAlgorithm .mazeVisualizationContainer{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.searchAlgorithm .mazeVisualizationContainer .legenda{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}


.searchAlgorithm .mazeVisualizationContainer .mazeVisualization{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}


.searchAlgorithm .mazeVisualizationContainer .controls{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}
/* End of Maze */




/* EightPuzzle */
.searchAlgorithm .eightPuzzleVisualizationContainer{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

.searchAlgorithm .eightPuzzleVisualizationContainer .eightPuzzleVisualization{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
	text-align: center;
}


.searchAlgorithm .eightPuzzleVisualizationContainer .controls{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
}
/* End of EightPuzzle */









#summary {
	border-collapse: collapse;
	border-spacing: none;
}


#summary table tr td{
	border-style: solid; 
	border-width: 1px;
	border-color: black;
}

#summary table tr th{
	border-style: solid; 
	border-width: 1px;
	border-color: black;
}




/* NAVIGATION */
#nav{
	float: left;
	width: 14%;
	margin: 200px 0 0 0;
	padding: 0 0% 0 1%;
	border: 0;
	text-align: right;
	/*background-color: red;*/
}

#nav ul{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#nav li{
	margin: 0 0 30px 0;
	padding: 0;
	border-width: 0 0 1px 4px;
	border-style: solid;
	border-color: white;
}

#nav li a{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	color: #000000;
	text-decoration: none;
	
}

#nav li a:visited{
	color: #000000;
	text-decoration: none;
}

#nav li a:active{
	color: #000000;
	text-decoration: none;
}

#nav li a:hover{
	color: darkgray;
	text-decoration: none;
}

#nav li:hover{
	border-color: black;
}