body{
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.maze{
	margin: 0px;
	padding: 0px;
	border: 0;
}



.maze table{
	margin: 0px;
	padding: 0px;
	background-color: white;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	border-spacing: 0;
	border-collapse: c;

}

.maze table tr{
	margin: 0px;
	padding: 0px;
	border-spacing: 0;
	border: 0;
}

.maze table td{
	margin: 0px;
	padding: 0px;
	border-style: none;
	border-width: 1px;
	border-color: black;
	text-align: center;
}

.maze .hasNorthWall{
	border-top-style: solid;
	border-top-color: black;
}

.maze .hasSouthWall{
	border-bottom-style: solid;
	border-bottom-color: black;
}

.maze .hasWestWall{
	border-left-style: solid;
	border-left-color: black;
}

.maze .hasEastWall{
	border-right-style: solid;
	border-right-color: black;
}

.maze .highlighted{
	background-color: yellow;
}


.maze .open{
	background-image: url('../images/open.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: #99CCFF;*/
}


.maze .visited{
	background-color: #FFCC99;
}

.maze .goal{
	background-image: url('../images/goal.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


.maze .start{
	background-image: url('../images/start.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.maze .discarded{
	background-image: url('../images/discarded.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


.maze .finished{
	background-image: url('../images/finished.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


.maze .legenda .openNode{
	background-image: url('../images/open.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


h1{
	font-size: 4em;
}